# Test Report
**Status**: PASS ✅
**Time**: 2025-12-14T23:16:19.037001

## Output
```
00:00 +0: loading /Users/adi/dev/AssistedIntelligence/knowledge_base/design_specs_2025_12_13/flutter_app/test/widget_test.dart                                                                         00:01 +0: loading /Users/adi/dev/AssistedIntelligence/knowledge_base/design_specs_2025_12_13/flutter_app/test/widget_test.dart                                                                         00:01 +0: App smoke test                                                                                                                                                                               00:02 +0: App smoke test                                                                                                                                                                               00:02 +1: App smoke test                                                                                                                                                                               00:02 +1: All tests passed!                                                                                                                                                                            

```

## Errors
```

```
